/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/
@use "shortcodes/card_grid";
@use "shortcodes/contributors";
@use "shortcodes/important";
@use "shortcodes/important_box_only";
@use "shortcodes/profile_grid";
@use "shortcodes/question";
@use "shortcodes/text_image";
@use "shortcodes/topic_macros_toml_load";
@use "shortcodes/two_columns";
@use "shortcodes/two_columns_fancy";
@use "shortcodes/warning";
@use "shortcodes/warning_box_only";
@use "shortcodes/wide_contact_card";
@use "shortcodes/widget_penfast";
@use "shortcodes/medications_toml_load";
@use "shortcodes/admonition";
@use "shortcodes/wip";
@use "shortcodes/mermaid";
@use "shortcodes/spoiler";
@use "shortcodes/timeline";
@use "shortcodes/references";
@use "shortcodes/spt_generator";
@use "shortcodes/json_to_table";
@use "shortcodes/research_card";
@use "shortcodes/rob_2";
@use "shortcodes/mini_rob_summary";

/* Markdown code blocks soft wrap */
pre.language-md {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.hl {
  background-color: yellow;
  color: black;
  padding: 0.1rem 0.2rem;
  border-radius: 0.1rem;
}

.blur-container {
  filter: blur(5px);

  /* Disable text selection */
  user-select: none;
  /* Standard */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer and Edge */
}

.front-matter_separator {
  border: none;
  height: 1px;
  background: linear-gradient(to right, orange, transparent);
  margin-top: 1rem;
}