/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

/* Markdown code blocks soft wrap */
pre.language-md {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
}