.env
public
themes
build
storage
node_modules
static/demo.html
static/tinysearch_engine.js
static/tinysearch_engine.d.ts
static/tinysearch_engine_bg.wasm.d.ts
static/package.json
static/js/pagefind.js
static/js/pagefind-*.js
static/js/pagefind-*.css
static/js/pagefind.*.pf_meta
static/js/index
static/js/fragment
.DS_Store
*static/.DS_Store

# Local Netlify folder
.netlify
static/js/abridge.min.js
static/js/abridge_nopwa.min.js
static/js/sw_load.js
static/js/sw_load.min.js
static/sw.js
static/sw.min.js
