/*--------------------------------------------------
  Theme Variables
--------------------------------------------------*/

/* Dark Theme (Default) */
:root {
  --card-bg: #1e1e1e;
  /* Card background */
  --card-border: #555;
  /* More contrasting border */
  --card-title: #f0f0f0;
  /* Brighter header text */
  --card-text: #cccccc;
  /* Body text */
  --card-shadow: rgba(0, 0, 0, 0.5);
  /* Stronger shadow */
  --card-image-brightness: 0.8;
}

/* Light Theme: Activate by adding the "switch" class to the root element */
:root.switch {
  --card-bg: #ddd;
  /* Card background */
  --card-border: #ddd;
  /* Divider & border color */
  --card-title: #222;
  /* Card title text */
  --card-text: #333;
  /* Card body text */
  --card-shadow: rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  --card-image-brightness: 1;
}

/*--------------------------------------------------
  Card Grid Styles
--------------------------------------------------*/
.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-content: start;

  .grid-item {
    display: flex;
  }

  .contact-card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    border: 0.1rem solid var(--card-border);
    border-radius: 0.5rem;
    overflow: hidden;
    /* box-shadow: 0 4px 6px var(--card-shadow); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;

    &:hover {
      transform: scale(1.05);
    }

    &:focus {
      outline: 0.5rem solid var(--card-border);
      outline-offset: 4px;
    }
  }

  .contact-card-image {
    width: 100%;
    aspect-ratio: 19/18;
    /* Portrait: width is 3, height is 4 */
    object-fit: cover;
    filter: brightness(var(--card-image-brightness));
    border-bottom: 0.2rem solid var(--card-border);
  }

  .contact-card-image-container {}


  .contact-card-content {
    padding: 0.5rem;
    padding-top: 0.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .contact-card-title {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--card-title);
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  .contact-card-body {
    font-size: 0.9em;
    color: var(--card-text);
    margin: 0;
  }
}