.contributors {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.9rem;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);


  .contributor-group {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .contributor-group i {
    color: var(--a1);
    font-size: 1rem;
  }

  .contributor {
    font-weight: 600;
  }

  @media (max-width: 768px) {
    font-size: 0.85rem;
    padding: 10px;

    .contributor-group i {
      font-size: 0.9rem;
    }
  }
}