.json_to_table {
  .json-table {
    border-collapse: collapse;
    width: 100%;
  }

  .json-table th,
  .json-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .json-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
}