/* Dark Theme (Default) */
:root {
  --rc-bold_border: #f90;
}

/* Light Theme: Activate by adding the "switch" class to the root element */
:root.switch {
  --rc-bold_border: #c40;
}

.json_to_table {
  .json-table {
    border-collapse: collapse;
    width: 100%;
  }

  .json-table th,
  .json-table td {
    padding: 0.3rem;
    border: none;
    border-bottom: 0.01rem solid #ddd;
  }

  .json-table thead th {
    border-top: 0.1rem solid #ddd;
    border-color: var(--rc-bold_border);
    text-align: left;
  }

  .json-table tbody tr:first-child td {
    border-bottom: 0.01rem solid #ddd;
    border-top: 2px solid;
    border-top-color: var(--rc-bold_border);
  }

  .json-table tr:last-child td {
    border-bottom: 0.1rem solid #ddd;
    border-color: var(--rc-bold_border);

  }
}