:root {
  /* Dark mode */
  --tabs-font-color: #ccc;
  --tabs-font-hover: #ddd;
  --tabs-font-active: #ddd;
  --tabs-bg: #111;
  --tabs-border: #333;
  --tabs-highlight: #f90;
  --tabs-focus-shadow: rgba(255, 153, 0, 0.5);
}

:root.switch {
  /* Light mode */
  --tabs-font-color: #555;
  --tabs-font-hover: #333;
  --tabs-font-active: #222;
  --tabs-bg: #fff;
  --tabs-border: #ddd;
  --tabs-highlight: #c40;
  --tabs-focus-shadow: rgba(204, 68, 0, 0.5);
}

.tabs-container {
  margin: 2rem 0;

  .tabs-header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.0625rem solid var(--tabs-highlight);
    margin-bottom: 1rem;

    .tab-button {
      padding: 0.75rem 1.25rem;
      background: transparent;
      border: none;
      border-bottom: 0.125rem solid transparent;
      font-weight: 500;
      color: var(--tabs-font-color);
      cursor: pointer;
      transition: color 0.2s ease;
      margin-bottom: -0.0625rem;

      &:hover {
        font-weight: 600;
      }

      &.active {
        color: var(--tabs-font-active);
        border: 0.125rem solid var(--tabs-highlight);
      }

      &:focus {
        outline: none;
        /* box-shadow: 0 0 0 0.125rem var(--tabs-focus-shadow); */
        border-radius: 0.25rem;
      }
    }
  }

  .tabs-content {
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid var(--tabs-highlight);

    .tab-pane {
      display: none;
      padding: 0rem 0;

      &.active {
        display: block;
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 40rem) {
  .tabs-container {
    .tabs-header {
      .tab-button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
      }
    }
  }
}