.text_image {
  display: flex;
  align-items: flex-start;
  gap: 20px; // Space between text and image

  .text-content {
    flex: 1;
  }

  .image-content {
    display: flex;
    flex-direction: column; // Stack image and caption vertically

    img {
      max-width: 100%;
      height: auto;
      max-height: 25em;
      display: block;
    }
  }

  // Optional: Caption default styling
  .caption p {
    font-size: 0.9rem;
    margin-top: 5px;
  }

  // Variant: text on left, image on right (right justified image)
  &.text_position_left {
    .text-content {
      order: 1;
    }

    .image-content {
      order: 2;
      align-items: flex-end; // right align the image & caption
    }

    .caption p {
      text-align: right;
    }
  }

  // Variant: text on right, image on left (left justified image)
  &.text_position_right {
    .text-content {
      order: 2;
      padding-left: 1rem;
    }

    .image-content {
      order: 1;
      align-items: flex-start; // left align the image & caption
    }

    .caption p {
      text-align: left;
    }
  }
}