/* Define theme variables */
:root:not(.switch) {
  /* Dark mode */
  --tcf_bg-color: #121212;
  --tcf_text-color: #e0e0e0;
  --tcf_column-bg: #2c2c2c;
  --tcf_column-border: #444;
}

:root.switch {
  /* Light mode */
  --tcf_bg-color: #fafafa;
  --tcf_text-color: #333;
  --tcf_column-bg: #fff;
  --tcf_column-border: #e0e0e0;
}

/* General styling for the columns */
.two_columns_fancy {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin: 0rem auto;
  /* max-width: 1200px; */
  padding: 1rem;
  background-color: var(--tcf_bg-color);
  color: var(--tcf_text-color);


  .column {
    flex: 1 1 48%;
    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: var(--tcf_column-bg);
    border: 1px solid var(--tcf_column-border);
  }

  /* Typography */
  h2,
  p {
    margin: 0 0 1rem 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    font-size: 1rem;
    color: inherit;
  }

  /* Ensures text inside the column adjusts based on theme */
  .column h2,
  .column p,
  .column ul,
  .column ol,
  .column li {
    color: var(--tcf_text-color);
  }

  /* Responsive behavior */
  @media (max-width: 768px) {
    .two_columns_fancy {
      flex-direction: column;
    }

    .column {
      width: 100%;
    }
  }
}