/* Define theme variables */
:root:not(.switch) {
  /* Dark mode */
  --tcf_bg-color: #121212;
  --tcf_text-color: #e0e0e0;
  --tcf_column-bg: #2c2c2c;
  --tcf_column-border: #444;
}

:root.switch {
  /* Light mode */
  --tcf_bg-color: #fafafa;
  --tcf_text-color: #333;
  --tcf_column-bg: #fafafa;
  --tcf_column-border: #e0e0e0;
}

/* General styling for the columns */
.two_columns_fancy {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  margin: 0rem;
  padding: 1rem;
  color: var(--tcf_text-color);


  .column {
    flex: 1 1 48%;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: var(--tcf_column-bg);
    border: 1px solid var(--tcf_column-border);

    h2,
    ul,
    li,
    ol,
    p {
      margin: 0 0 1rem 0;
      font-family: "Roboto", sans-serif;
      line-height: 1.6;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 600;
    }

    ul,
    li,
    ol,
    p {
      font-size: 1rem;
      color: inherit;
    }

  }

  /* Typography */

  /* Ensures text inside the column adjusts based on theme */
  .column h2,
  .column p,
  .column ul,
  .column ol,
  .column li {
    color: var(--tcf_text-color);
  }

  /* Responsive behavior */
  @media (orientation: portrait) {
    flex-direction: column;

    .column {
      width: 100%;
    }
  }
}