.two_columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1rem;

  .column {
    flex: 1;
    min-width: 200px;
  }

  @media (orientation: portrait) {
    flex-direction: column;
  }
}