:root {
  /* Dark mode */
  --wip-bg: #2e2e2e;
  --wip-border: #ffb74d;
  --wip-text: #ffffff;
  --wip-link: #ff9800;
  --wip-link-hover: #ffcc80;
  --wip-cat: #c56527;
}

:root.switch {
  /* Light mode */
  --wip-bg: #fff3cd;
  --wip-border: #ff9800;
  --wip-text: #333;
  --wip-link: #d9534f;
  --wip-link-hover: #c9302c;
  --wip-cat: #000000;
}

.wip-message {
  display: flex;
  align-items: center;
  background: var(--wip-bg);
  border-left: 5px solid var(--wip-border);
  padding: 1rem;
  border-radius: 5px;
  margin: 1.5rem 0;
  box-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.05);
  color: var(--wip-text);
}

.wip-icon {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  fill: var(--wip-border);
  color: var(--wip-border);
}

.wip-content {
  flex: 1;
}

.wip-link {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: bold;
  color: var(--wip-link);
  text-decoration: none;
}

.wip-link:hover {
  text-decoration: underline;
  color: var(--wip-link-hover);
}

/* for the cat loader :) */
.wip-message {

  /* From Uiverse.io by vinodjangid07 */
  .loader {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0rem;
    margin-right: 0rem;


    .cat-tail {
      fill: var(--wip-cat);
    }

    .cat-body {
      fill: var(--wip-cat);
    }


    .wrapper {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .catContainer {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .catbody {
      width: 80px;
    }

    .tail {
      position: absolute;
      width: 17px;
      top: 50%;
      animation: tail 0.5s ease-in infinite alternate-reverse;
      transform-origin: top;
    }

    @keyframes tail {
      0% {
        transform: rotateZ(60deg);
      }

      50% {
        transform: rotateZ(0deg);
      }

      100% {
        transform: rotateZ(-20deg);
      }
    }

    .wall {
      width: 300px;
    }

    .text {
      display: flex;
      flex-direction: column;
      width: 50px;
      position: absolute;
      margin: 0px 0px 100px 120px;
    }

    .zzz {
      color: var(--wip-border);
      font-weight: 700;
      font-size: 15px;
      animation: zzz 2s linear infinite;
    }

    .bigzzz {
      color: var(--wip-border);
      font-weight: 700;
      font-size: 25px;
      margin-left: 10px;
      animation: zzz 2.3s linear infinite;
    }

    @keyframes zzz {
      0% {
        color: transparent;
      }

      50% {
        color: var(--wip-border);
      }

      100% {
        color: transparent;
      }
    }
  }
}