.important {
  line-height: inherit;
  margin-bottom: 0px;
  border: 1.5px solid;
  border-color: #ff4444;
  background-color: #320a0a;
  color: #ff7575;
  padding: 10px;


  .icon {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .icon span {
    display: flex;
    align-items: center;
  }

  .icon span svg {
    width: 1.5em;
    /* Adjust the width as needed */
    height: 1.5em;
    /* Adjust the height as needed */
  }

  .icon span strong {
    margin-left: 15px;
    /* Increase margin to accommodate larger icon */
    flex: 1;
  }

  .content {
    padding-right: 10px;
    padding-left: 10px;
  }

  .content p {
    margin: 0;
    color: #ffdbc9;
  }

  .content p+p {
    margin: 0.2em 0 0.5em;
  }

  .content ol,
  ul {
    color: #ffdbc9;
  }

  .content li {
    color: #ffdbc9;
  }


}
