.question {
    line-height: inherit;
    margin-bottom: 20px;
    border: 1.5px solid;
    border-color: #449bff;
    background-color: #101f32;
    color: #f6e071;
    padding: 10px;

    .icon {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .icon span {
        display: flex;
        align-items: center;
    }

    .icon span svg {
        width: 2em;
        /* Adjust the width as needed */
        height: 2em;
        /* Adjust the height as needed */
    }

    .icon span strong {
        margin-left: 15px;
        /* Increase margin to accommodate larger icon */
        flex: 1;
    }

    .content {
        padding: 10px;
    }

    .content p {
        margin: 0;
        color: #fff9dc;
    }

    .content p+p {
        margin: 0.2em 0 0.5em;
    }

    .content ol, ul {
      color: #fff9dc;
    }

    .content li {
      color: #fff9dc;
    }

}
