{% import "macros/references_macro.html" as macros %}

{% macro bib_ref(bibliography) %}
    {% if bibliography.entry_type == "book" %}
        {{ macros::bibstrip(in=macros::bib_book(ref=bibliography)) }}
    {% elif bibliography.entry_type == "article" %}
        {{ macros::bibstrip(in=macros::bib_article(ref=bibliography)) }}
    {% elif bibliography.entry_type == "inproceedings" %}
        {{ macros::bibstrip(in=macros::bib_inproceedings(ref=bibliography)) }}
    {% elif bibliography.entry_type == "misc" %}
        {{ macros::bibstrip(in=macros::bib_misc(ref=bibliography)) }}
    {% elif bibliography.entry_type == "mastersthesis" %}
        {{ macros::bibstrip(in=macros::bib_mastersthesis(ref=bibliography)) }}
    {% elif bibliography.entry_type == "phdthesis" %}
        {{ macros::bibstrip(in=macros::bib_phdthesis(ref=bibliography)) }}
    {% elif bibliography.entry_type == "manual" %}
        {{ macros::bibstrip(in=macros::bib_manual(ref=bibliography)) }}
    {% elif bibliography.entry_type == "githubissue" %}
        {{ macros::bibstrip(in=macros::bib_githubissue(ref=bibliography)) }}
    {% else %}
        unsupported reference type
    {% endif %}
{% endmacro bib_ref %}