{% macro domain(domain, questions, links) %}
{# {{ macros::domain(domain=1, questions = ["Test one"], links=["first"]) }} #}
<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for question in questions %}
    {% set zero_index = loop.index - 1 %}
    <tr id="q{{ domain }}_{{ loop.index }}_row">
      <td>
        <span class="question-text"><a href="../../contribute_guides/rob-2-guide/{{ links[zero_index] }}">{{ domain }}.{{ loop.index }}: {{ question }}</a></span>
      </td>
      <td>
        <div class="radio-inputs">
          <label class="radio">
            <input type="radio" name="q{{ domain }}_{{ loop.index }}">
            <span class="name">Yes</span>
          </label>
          <label class="radio">
            <input type="radio" name="q{{ domain }}_{{ loop.index }}">
            <span class="name">Prob<br>Yes</span>
          </label>
          <label class="radio">
            <input type="radio" name="q{{ domain }}_{{ loop.index }}">
            <span class="name">Prob<br>No</span>
          </label>
          <label class="radio">
            <input type="radio" name="q{{ domain }}_{{ loop.index }}">
            <span class="name">No</span>
          </label>
          <label class="radio">
            <input type="radio" name="q{{ domain }}_{{ loop.index }}">
            <span class="name">No<br>info</span>
          </label>
        </div>
      </td>
      <td>
        <textarea class="question-details" id="q{{ domain }}_{{ loop.index }}_details" placeholder="Enter optional details..."></textarea>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="summary">
  <strong>Risk of bias judgement:</strong>
  <div id="domain-{{ domain }}-judgement"></div>
</div>
{% endmacro domain %}