{% import "macros/badges.html" as badges %}

{% macro get_topic_li(section_path) %}
{% set section = get_section(path=section_path) %}

{% for page in section.pages %}
{% set page_path = page.path %}
{% if not page.extra.status %}
    {{ throw(message=page.title ~ ": this page requires a status under [extra]. Only not-started, wip, or ready are accepted.") }}
{% endif %}
{% set page_status = page.extra.status %}
<li><a href="{{ page.permalink}}">{{ page.title }} {{ badges::status_badge(status=page_status, msg="") }}</a></li>
{% endfor %}

{% endmacro get_topic_li %}