{% macro bibstrip(in) %}
{{ in | replace(from="---",to="—") | replace(from="--", to="-") | replace(from="{",to="") | replace(from="}", to="") | safe }}
{% endmacro bibstrip %}

{% macro bib_book(ref) %}
    {%- set authors = ref.tags.author | split(pat=" and ") -%}
    {%- set first_three = authors | slice(end=3) -%}
    {%- for author in first_three -%}
        {%- set name_parts = author | split(pat=", ") -%}
        {%- if name_parts | length >= 2 -%}
            {%- set last_name = name_parts[0] -%}
            {%- set first_names = name_parts[1] | split(pat=" ") -%}
            {{- last_name }} {% for name in first_names %}{{ name | truncate(length=1, end="") }}{% endfor -%}
        {%- else -%}
            {{- author -}}
        {%- endif -%}
        {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
    {%- if authors | length > 3 %}, et al.{%else%}.{% endif %} 

    {% if ref.tags.url %}
<a class="ref-link" href="{{ref.tags.url}}" target="_blank">
  <b>{{ ref.tags.title }}</b>,
</a>
{% else %}
<b>{{ ref.tags.title }}</b>, 
    {% endif %}
<em>{{ ref.tags.publisher }}</em>, 
    {{ ref.tags.year }}
{% endmacro bib_book %}

{% macro bib_article(ref) %}
    {%- set authors = ref.tags.author | split(pat=" and ") -%}
    {%- set first_three = authors | slice(end=3) -%}
    {%- for author in first_three -%}
        {%- set name_parts = author | split(pat=", ") -%}
        {%- if name_parts | length >= 2 -%}
            {%- set last_name = name_parts[0] -%}
            {%- set first_names = name_parts[1] | split(pat=" ") -%}
            {{- last_name }} {% for name in first_names %}{{ name | truncate(length=1, end="") }}{% endfor -%}
        {%- else -%}
            {{- author -}}
        {%- endif -%}
        {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
    {%- if authors | length > 3 %}, et al.{%else%}.{% endif %} 
    {%- if ref.tags.url -%}
<a class="ref-link" href="{{ref.tags.url}}" target="_blank">
  <b>{{ ref.tags.title }}</b>.
</a>
{%- else -%}
<b>{{ ref.tags.title }}</b>.
{%- endif %}
    {% if ref.tags.journal %}
<em>{{ ref.tags.journal }}</em>, 
    {% endif %}
    {% if ref.tags.volume and ref.tags.volume and ref.tags.pages %}
    vol. {{ ref.tags.volume }}, 
    {% if ref.tags.number %}{{ ref.tags.number}},{% endif %} 
    pp. {{ ref.tags.pages }},
    {% endif %}
    {% if ref.tags.month %}{{ ref.tags.month }}{% endif %}
    {{ ref.tags.year }}
{% endmacro bib_article %}

{% macro bib_inproceedings(ref) %}
    {{ ref.tags.author }}, 
    "{{ ref.tags.title }}," 
    in
<em>{{ ref.tags.booktitle }}</em>, 
    {{ ref.tags.address }},
    {{ ref.tags.year }}, 
    pp. {{ ref.tags.pages }}
{% endmacro bib_inproceedings %}

{% macro bib_manual(ref) %}
    {{ ref.tags.author }},
<em>{{ ref.tags.title }}</em>,
    {{ ref.tags.organization }},
    {{ ref.tags.address }}, 
    {% if ref.tags.edition %}{{ ref.tags.edition }},{% endif %}
    {% if ref.tags.month %}{{ ref.tags.month }}{% endif %}
    {{ ref.tags.year }}.
{% endmacro bib_manual %}

{% macro bib_thesis(ref, type) %}
    {{ ref.tags.author }}, 
    "{{ ref.tags.title }}," 
    {{ type }},
    {{ ref.tags.school }},
    {{ ref.tags.address }}, 
    {{ ref.tags.year }}
{% endmacro bib_thesis %}

{% macro bib_mastersthesis(ref) %}
    {{ macros::bib_thesis(ref=ref,type="M.S. Thesis") }}
{% endmacro bib_mastersthesis %}

{% macro bib_phdthesis(ref) %}
    {{ macros::bib_thesis(ref=ref,type="Ph.D. dissertation") }}
{% endmacro bib_phdthesis %}

{% macro bib_misc(ref) %}
    {% if ref.tags.author %}{{ ref.tags.author }},{% endif %}
    {{ ref.tags.title }},
    {% if ref.tags.publisher %}{{ ref.tags.publisher }},{% endif %}
    {% if ref.tags.year %}{{ ref.tags.year }},{% endif %}
    {% if ref.tags.doi %}
<a href="https://doi.org/{{ ref.tags.doi }}">{{ ref.tags.doi }}</a>
{% elif ref.tags.url %}
<a href="{{ ref.tags.url }}" target="_blank">{{ ref.tags.url }}</a>
{% endif %}
{% endmacro bib_misc %}
