{% macro person_list(persons) %}
  <div class="contributor-names">
  {%- for person in persons -%}
    <span class="contributor">{{ person }}</span>{% if not loop.last %}, {% endif %}
  {%- endfor -%}
  </div>
{% endmacro person_list %}

<div class="contributors">
  {% if authors %}
  <div class="contributor-group">
    <i class="fas fa-pen-nib fa-fw"></i>
    <strong>Author{% if authors | length > 1 %}s{% endif %}:</strong>
    {{ self::person_list(persons=authors) }}
  </div>
  {% endif %}

  {% if editors %}
  <div class="contributor-group">
    <i class="fas fa-user-edit fa-fw"></i>
    <strong>Editor{% if editors | length > 1 %}s{% endif %}:</strong>
    {{ self::person_list(persons=editors) }}
  </div>
  {% endif %}

  {% if staff_reviewers %}
  <div class="contributor-group">
    <i class="fas fa-star fa-fw"></i>
    <strong>Staff Reviewer{% if staff_reviewers | length > 1 %}s{% endif %}:</strong>
    {{ self::person_list(persons=staff_reviewers) }}
  </div>
  {% endif %}
</div>
