{# Generate a unique ID per popup instance #}
{% set popup_id = "popup-" ~ get_random(end=100000) %}
{% set icon = icon | default(value="rx") %}
<!-- Set icon type, default will be pill -->
{% if icon == "capsule" %}
{% set icon_data = load_data(path="static/icon/capsule.svg") %}
{% elif icon == "capsule-pill" %}
{% set icon_data = load_data(path="static/icon/capsule-pill.svg") %}
{% elif icon == "rx" %}
{% set icon_data = load_data(path="static/icon/rx.svg") %}
{% elif icon == "note" %}
{% set icon_data = load_data(path="static/icon/t_note.svg") %}
{% elif icon == "tip" %}
{% set icon_data = load_data(path="static/icon/t_tip.svg") %}
{% elif icon == "info" %}
{% set icon_data = load_data(path="static/icon/t_info.svg") %}
{% elif icon == "warning" %}
{% set icon_data = load_data(path="static/icon/t_warning.svg") %}
{% elif icon == "danger" %}
{% set icon_data = load_data(path="static/icon/t_danger.svg") %}
{% elif icon == "pearl" %}
{% set icon_data = load_data(path="static/icon/t_pearl.svg") %}
{% elif icon == "question" %}
{% set icon_data = load_data(path="static/icon/t_question.svg") %}
{% elif icon == "flag" %}
{% set icon_data = load_data(path="static/icon/flag.svg") %}
{% else %}
{% set icon_data = null %}
{% endif %}
<button
  class="popup-trigger"
  data-popup-id="{{ popup_id }}"
  aria-haspopup="dialog"
  aria-controls="{{ popup_id }}"
>
  <div class="popup-icon">
    {{ icon_data | safe }}
  </div>
</button>
<div
  id="{{ popup_id }}"
  class="popup-modal"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
>
  <div class="popup-overlay" data-popup-id="{{ popup_id }}"></div>
  <div class="popup-content">
    <button class="popup-close" aria-label="Close">&times;</button>
    {{ body | safe }}
  </div>
</div>