<!-- This shortcode will pull from the profile_grid.toml file to show a grid of profile cards. -->
<div class="profile_grid">
  {% set profiles = load_data(path="static/toml/profile_grid.toml") %}
  {% for profile_name, profile_data in profiles %}
  <div class="grid-item">
    <div class="profile-card">
      <img src="{{ profile_data.src }}" alt="{{ profile_data.name }}" class="profile-card-image">
      <div class="profile-card-content">
        <h3 class="profile-card-name">{{ profile_data.name }}</h3>
        <p class="profile-card-description">{{ profile_data.text }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<link rel="stylesheet" href="/css/profile_grid.css">