{% import "macros/references_macro.html" as macros %}

{# Load .bib file with same name as the file #}
{% set data = load_data(path=path, format="bibtex") %}
{% set references = data.bibliographies %}

{{data | json_encode(pretty=true) | linebreaksbr | safe }}
<br><br>
{% set unique_ids = [] %}
{% for ref in references %}
{% if ref.citation_key in unique_ids %}
{{ throw(message="Ref ID: " ~ ref.citation_key ~ " has been duplicated. R/a the .bib file.") }}
{% endif %}
{% set_global unique_ids = unique_ids | concat(with=[ref.citation_key]) %}
{% endfor %}

{# This hidden popup will later be toggled on/off #}
<div id="ref-popup" class="ref-popup">
  <div class="ref-popup-content">
    <span id="ref-close" class="ref-close">&times;</span>
    <div id="ref-popup-inner"></div>
  </div>
</div>
{# For biblography #}
{% set showBib = showBib | default(value=false) %}
{% if showBib %}
<div class="ref-bib">
  {% for ref in references %}
  <div class="item">
    {{ macros::bibstrip(in=macros::bib_article(ref=ref)) }}
  </div>
  {% endfor %}
</div>
{% endif %}