<div class="spt_generator">
  <div class="template-panel">
    <button class="template-btn" id="reset-btn">Reset All</button>
    <button class="template-btn" data-template="controls">Controls</button>
    <button class="template-btn" data-template="commonNuts">Common Nuts</button>
    <button class="template-btn" data-template="commonFruits">Common Fruits</button>
  </div>
  <div class="entry-creation">
    <!-- Inputs will be added dynamically by JavaScript -->
  </div>
  <div class="display-block">
    <div class="column">
      <div class="code-block-container">
        <button class="copy-button">Copy</button>
        <div class="txt" id="simpleList"></div>
      </div>
    </div>
    <div class="column">
      <div class="code-block-container">
        <button class="copy-button">Copy</button>
        <div class="txt" id="tableFormat"></div>
      </div>
    </div>
  </div>
</div>
<script type="module" src="/js/spt_generator.js"></script>