<!-- tabs.html -->
{% set random_id = get_random(end=100000) %}
<div class="tabs-container" id="tabs-container-{{ random_id }}">
  <div class="tabs-header">
    {% for tab in body | split(pat="<!-- TAB -->") %}
      {% set tab_parts = tab | split(pat="<!-- CONTENT -->") %}
      {% set tab_title = tab_parts[0] | trim %}
      {% if tab_title != "" %}
    <button class="tab-button{% if loop.first %} active{% endif %}" data-tab="tab-{{ random_id }}-{{ loop.index }}">
      {{ tab_title }}
    </button>
    {% endif %}
    {% endfor %}
  </div>
  <div class="tabs-content">
    {% for tab in body | split(pat="<!-- TAB -->") %}
      {% set tab_parts = tab | split(pat="<!-- CONTENT -->") %}
      {% set tab_title = tab_parts[0] | trim %}
      {% if tab_title != "" %}
        {% set tab_content = tab_parts[1] | default(value="") %}
    <div class="tab-pane{% if loop.first %} active{% endif %}" id="tab-{{ random_id }}-{{ loop.index }}">
      {{ tab_content | safe }}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>