{% import "macros/wip_macro.html" as macros %}
{% set data = load_data(path="static/toml/topic_macros.toml") %}
<!-- Set up filter: -->
{% set filter = filter | default(value=false) %}
<div class="topic_macros_toml_load">
  {% if filter %}
  <div class="search-container">
    <input type="text" id="search-input" placeholder="Search macros by condition/topic with fuzzy find..." autocomplete="off" autofocus>
  </div>
  {% endif %}
  {# Wrap each block in a container with searchable data attributes #}
  {% for section_name, section_data in data %}
  <div class="macro-block" data-topic="{{ section_data.topic }}" data-keywords="{{ section_data.keywords | join(sep=' ') }}">
    {{ "#### " ~ section_data.topic | markdown | safe }}
    {% if section_data.wip %}
    {{ macros::topic_macro_wip(msg = "This macro is a work in progress and not reviewed.") }}
    {% endif %}
    <div class="code-block-container">
      <button class="copy-button">Copy</button>
      <div class="txt">{{ section_data.content | trim }}</div>
    </div>
  </div>
  {% endfor %}
</div>
<script src="/js/topic_macros_toml_load.js"></script>
{% if filter %}
<!-- Load fuzzysort library -->
<script src="https://cdn.jsdelivr.net/npm/fuzzysort@3.1.0/fuzzysort.min.js"></script>
<script src="/js/topic_macros_toml_load_search.js"></script>
{% endif %}