<div class="topics_crswnp_biologics">
  <table>
    <tr>
      <th rowspan="2"></th>
      <th colspan="6">Patient-important outcomes</th>
    </tr>
    <tr>
      <th>HRQoL<br>SNOT-22<br>(0-110)</th>
      <th>Symptoms<br>VAS<br>(0-10 cm)</th>
      <th>Smell<br>UPSIT<br>(0-40)</th>
      <th>Rescue<br>OCS</th>
      <th>Rescue<br>polyp<br>surgery</th>
      <th>Adverse<br>events</th>
    </tr>
    <tr>
      <td>Standard care</td>
      <td>50.11</td>
      <td>6.84</td>
      <td>14.04</td>
      <td>31.96%</td>
      <td>21.05%</td>
      <td>73.78%</td>
    </tr>
    <tr>
      <td>Dupilumab</td>
      <td class="most-beneficial">-19.91<br>(-22.50, -17.32)</td>
      <td class="most-beneficial">-3.25<br>(-4.31, -2.18)</td>
      <td class="most-beneficial">10.96<br>(9.75, 12.17)</td>
      <td class="most-beneficial">-21.73<br>(-24.61, -18.22)<br>RR 0.32<br>(0.23, 0.43)</td>
      <td class="most-beneficial">-16.35<br>(-18.13, -13.48)<br>RR 0.22<br>(0.14, 0.36)</td>
      <td class="neutral low-coe">0.13<br>(-8.12, 9.88)<br>RR 1.00<br>(0.88, 1.13)</td>
    </tr>
    <tr>
      <td>Omalizumab</td>
      <td class="most-beneficial">-16.09<br>(-19.88, -12.30)</td>
      <td class="intermediate-beneficial">-2.09<br>(-3.15, -1.03)</td>
      <td class="intermediate-beneficial">3.75<br>(2.14, 5.35)</td>
      <td class="neutral low-coe">-12.46<br>(-23.65, -12.78)<br>RR 0.61<br>(0.26, 1.40)</td>
      <td class="intermediate-beneficial">-7.40<br>(-11.04, -2.43)<br>RR 0.65<br>(0.48, 0.88)</td>
      <td class="neutral low-coe">-2.60<br>(-15.38, 13.28)<br>RR 0.96<br>(0.79, 1.18)</td>
    </tr>
    <tr>
      <td>Mepolizumab</td>
      <td class="intermediate-beneficial">-12.89<br>(-16.58, -9.19)</td>
      <td class="intermediate-beneficial">-1.82<br>(-3.13, -0.50)</td>
      <td class="most-beneficial">6.13<br>(4.07, 8.19)</td>
      <td class="intermediate-beneficial">-10.23<br>(-15.98, -2.88)<br>RR 0.68<br>(0.50, 0.91)</td>
      <td class="most-beneficial">-12.33<br>(-15.56, -7.22)<br>RR 0.41<br>(0.26, 0.66)</td>
      <td class="neutral low-coe">-3.07<br>(-13.44, 9.07)<br>RR 0.96<br>(0.82, 1.12)</td>
    </tr>
    <tr>
      <td>Benralizumab</td>
      <td class="intermediate-beneficial">-7.68<br>(-12.09, -3.27)</td>
      <td class="intermediate-beneficial">-1.15<br>(-2.47, 0.17)</td>
      <td class="intermediate-beneficial">2.95<br>(1.02, 4.88)</td>
      <td class="intermediate-beneficial">-9.91<br>(-16.30, -0.96)<br>RR 0.69<br>(0.49, 0.97)</td>
      <td class="neutral low-coe">-2.53<br>(-9.05, 7.16)<br>RR 0.88<br>(0.57, 1.34)</td>
      <td class="neutral low-coe">-1.48<br>(-13.28, 12.54)<br>RR 0.98<br>(0.82, 1.17)</td>
    </tr>
  </table>
  <table class="legend">
    <tr>
      <td colspan="3"><strong>Classification of intervention (colour)</strong></td>
      <td colspan="2"><strong>GRADE CoE (shading)</strong></td>
    </tr>
    <tr>
      <td class="most-beneficial">Among most beneficial</td>
      <td class="intermediate-beneficial">Among intermediate beneficial</td>
      <td class="neutral">Among least beneficial/not<br>clearly different from placebo</td>
      <td>High/moderate (solid)</td>
      <td class="low-coe">Low/very low (shaded)</td>
    </tr>
    <tr>
      <td class="most-harmful">Among most harmful</td>
      <td class="intermediate-harmful">Among intermediate harmful</td>
      <td class="no-data">No data (blank)</td>
      <td colspan="2"></td>
    </tr>
  </table>
</div>