{#
This Template is for the topic homepage where all the conditions and topics are listesd 
#}

{% extends "base.html" %}
{% import "macros/get_topic_li.html" as topic_links %}

{%- block seo %}
  {{- super() }}
  {%- set title_addition = "" %}

  {%- if page.title and config.title %}
    {%- set title = page.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- elif section.title and config.title %}
    {%- set title = section.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- elif page.title %}
    {%- set title = page.title %}
  {%- elif section.title %}
    {%- set title = section.title %}
  {%- else %}
    {%- set title = config.title %}
  {%- endif %}

  {%- if page.description %}
    {%- set description = page.description %}
  {%- elif section.description %}
    {%- set description = section.description %}
  {%- else %}
    {%- set description = config.description %}
  {%- endif %}

  {{- macros_seo::seo(config=config, title=title, title_addition=title_addition, description=description) }}
{%- endblock seo %}

{%- block content %}
<div>
  <ul>
    <ul>
      {{ topic_links::get_topic_li(section_path="topics/hypersensitivity/foods/_index.md") }}
    </ul>
  </ul>
  {%- if page.content %}
{{ page.content | safe }}
{%- elif section.content %}
{{ section.content | safe }}
{%- endif %}
</div>
{%- endblock content %}